body.no-scroll {
  overflow: hidden;
}

.insurance-modal .modal-content {
  margin-top: 20px;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.insurance-modal .modal-body {
  padding: 24px;
  word-wrap: break-word;
}

.insurance-modal .padding-top-25 {
  padding-top: 25px !important;
}
.insurance-modal .modal-header {
  border-radius: 3px;
  padding: 16px 24px;
  background-color: #fff;
}

.insurance-modal .width-90 {
  word-wrap: break-word;
  width: 92%;
}

.insurance-modal .insurance-header {
  font-size: 24px;
}

.insurance-modal .insurance-description {
  margin-top: 8px;
  font-size: 14px;
}

.insurance-modal .insurance-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
}

.insurance-modal .modal.in {
  overflow-y: initial !important;
  overflow-y: auto;
}

@media only screen and (max-width: 480px) {
  .insurance-modal .modal-body {
    padding-left: 14px;
    padding-right: 20px;
  }
  .insurance-modal .modal-header {
    padding-left: 14px;
    padding-right: 20px;
  }
  .insurance-modal .insurance-description {
    font-size: 13px;
  }
}

/* animations */

.modal-backdrop {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 0.6;
}
.fade-leave {
  opacity: 0.6;
}
.fade-leave.fade-leave-active {
  opacity: 0;
}

.slide-enter {
  animation: slide-in 0.3s;
}
.slide-leave {
  animation: slide-out 0.3s;
}
.slide-leave.slide-leave-active {
  transform: translate(0, -100%);
}

@keyframes slide-in {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
