html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Open Sans", Arial, "ArialMT", sans-serif;
  color: #282828;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
}
#root {
  flex-grow: 1;
  background-color: #f2f2f2;
}

.insurance-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 12px;
  position: relative;
}

.insurance-panel {
  background-color: white;
  margin-bottom: 10px;
  padding: 20px;
  min-height: 375px;
  position: relative;
}
.insurance-panel.info {
  min-height: 320px;
}

.insurance-panel .panel-wrapper {
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
}
.insurance-panel .panel-wrapper.result {
  margin-bottom: 15px;
}
.insurance-panel p.text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  line-height: 30px;
}
.insurance-panel p.text.big span.highlight {
  display: inline-block;
  color: #BD180A;
}
.insurance-panel p.text.sub {
  margin-top: 5px;
  font-size: 16px;
  line-height: 19px;
}
.insurance-panel.info.m-bot-fix {
  margin-bottom: 46px;
}
span.highlight {
  font-weight: 700;
}

.insurance-panel .image {
  display: block;
  margin: 20px auto 30px;
}

.insurance-panel label {
  font-weight: normal;
}

.navigate-back {
  font-size: 14px;
  margin-left: 13px;
  font-weight: 400;
}
button.description-link,
a.description-link {
  background: transparent;
  position: absolute;
  font-style: italic;
  border: none;
  right: 10px;
  bottom: 10px;
  text-decoration: underline;
  font-size: 11px;
  cursor: pointer;
}
p.description-static {
  background-color: #f2f2f2;
  font-style: italic;
  border: none;
  text-decoration: none;
  font-size: 13px;
  float: right;
  margin-top: -5px;
}
form {
  margin: 0;
  padding: 0;
  display: block;
}
.insurance-btn[disabled]:hover {
  background-color: #99a399;
}
.mar-b-40 {
  margin-bottom: 40px;
}
p.description {
  font-size: 16px;
  line-height: 24px;
}
.insurance-btn {
  font-size: 18px !important;
  border-radius: 2px;
  color: #282828 !important;
  background-color: #a2c14e !important;
}
.insurance-btn:hover {
  background-color: #819f2b !important;
}
.insurance-btn.floating {
  position: fixed;
  bottom: 5px;
  margin: 0 0 10px 5px;
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8),
  0 0 3px -1px rgba(0, 0, 0, 0.5);
  opacity: 0.99;
  transition: all 0.1s ease;
}
.insurance-btn.floating.static {
  position: relative;
  margin: 5px 0 5px 0px;
  box-shadow: none;
  opacity: 1;
}
@media (min-width: 660px) {
  .insurance-panel .panel-wrapper {
    display: flex;
  }
  .insurance-panel svg.image {
    width: 185px;
    height: 150px;
    margin: 0 auto;
  }
  .insurance-panel p.text {
    font-size: 26px;
    line-height: 36px;
    max-width: 400px;
  }
  div.main {
    margin-left: 30px;
  }
  .insurance-container {
    padding-top: 24px;
  }
  .insurance-panel {
    padding-top: 90px;
  }
  .insurance-panel .image {
    margin-bottom: 60px;
  }
}
